groq
langgraph
langchain

sentence-transformers
torch
supabase

python-dotenv

pandas
numpy
scikit-learn

streamlit

pypdf
python-docx
python-pptx
openpyxl

odfpy
striprtf
beautifulsoup4
lxml

tqdm
requests

fastapi
uvicorn
pydantic

google-auth 
google-auth-oauthlib 
google-api-python-client 
itsdangerous
cryptography