fastapi
uvicorn[standard]

python-dotenv
python-multipart

groq

google-genai
google-auth
google-auth-oauthlib
google-auth-httplib2
google-api-python-client

supabase

langchain
langgraph

pandas
numpy

openpyxl
XlsxWriter

python-docx
python-pptx
pypdf
odfpy

beautifulsoup4
lxml

cryptography
itsdangerous

requests
httpx

tqdm